{{#extend "layouts/default"}}
  {{#content "content"}}
    <p>
      Hi there! You've found <em>Shift</em>, the static site generator for
      <a href="http://handlebarsjs.com/">Handlebars</a>.
    </p>
    <p>
      Perhaps you'd like to check out the
      <a href="{{package.homepage}}/blob/master/example/views/index.hbs">source for this page</a>,
      <a href="{{package.homepage}}/fork">fork the repository</a> or read up on
      <a href="{{package.homepage}}/blob/master/README.md">how to use Shift</a> for your next project?
    </p>
  {{/content}}
{{/extend}}
